<ion-view view-title="Dashboard">
     <ion-content has-header="true" padding="true" style="
    background: url(img/bg.jpg) no-repeat center;
    background-size: cover;"
}>


<!--     <div class="list card">
      <div class="item item-divider">Stato Allarme</div>
      <div class="item item-body">
        <center>
          <div>
            <button ng-click="armed.$value = 0" ng-show="armed.$value == 1" class="button  button-assertive">
              Disarm System!
            </button>
            <button ng-click="armed.$value = 1" ng-show="armed.$value == 0" class="button  button-positive">
              Arm System!
            </button>
          </div>
        </center>
      </div>
    </div> -->

    </br>
    <center>
    <div class="row row-center">
      <div class="col col-center">
            <i class="icon ion-android-lock icon-accessory" ng-show="armed.$value >= 1" style="font-size: 300px !important;"></i>

            <i class="icon ion-android-unlock icon-accessory" ng-show="armed.$value == 0" style="font-size: 300px !important;"></i>

            <button ng-show="armed.$value >= 1" ng-click="armed.$value = 0" id="cameraTabDefaultPage-button1" class=" button button-positive button-large button-block icon-left ion-android-unlock ">Disarma</button>
            
            <button ng-show="armed.$value == 0" ng-click="armed.$value = 1" id="cameraTabDefaultPage-button2" class=" button button-energized button-large button-block icon-left ion-android-lock ">Perimetrale</button>

            <button ng-show="armed.$value == 0" ng-click="armed.$value = 2" id="cameraTabDefaultPage-button2" class=" button button-assertive button-large button-block icon-left ion-android-lock  ">Totale</button>

      </div>
    </div>
    </center>

  </ion-content>
</ion-view>
